- name: Final Link (Generate JS and WASM)
        run: |
          cd ffmpeg-src
          mkdir ../dist
          
          # --- LINKING OTOMATIS (WILDCARD) ---
          # Menggunakan fftools/*.o agar otomatis mengambil semua file object yang ada
          # (ffmpeg.o, cmdutils.o, dll) tanpa perlu menebak nama file manual.
          # Urutan library (-l...) juga dirapikan agar dependensi (avutil) ada di paling akhir.
          
          emcc \
            -O3 \
            -s USE_PTHREADS=0 \
            -s INITIAL_MEMORY=33554432 \
            -s ALLOW_MEMORY_GROWTH=1 \
            -s INVOKE_RUN=0 \
            -s EXPORTED_RUNTIME_METHODS='["FS","main","cwrap","setValue","getValue"]' \
            -s MODULARIZE=1 \
            -s EXPORT_NAME='createFFmpegCore' \
            -s WASM_BIGINT=1 \
            -o ../dist/ffmpeg-core.js \
            \
            fftools/*.o \
            \
            -Llibavcodec -Llibavdevice -Llibavfilter -Llibavformat -Llibavutil -Llibswresample -Llibswscale \
            -lavdevice -lavfilter -lavformat -lavcodec -lswresample -lswscale -lavutil
